.whole{
    display: flex;
    /* 水平置中 */
    justify-content: center;   
}

.play_bg{
    background-color: rgb(234, 232, 230);
    padding-bottom: 0%;
}

.btn_start {
    position: absolute;
    top: 300px;
    padding: 16px 32px;
    background-color: white; 
    color: black; 
    border: 2px solid #e9a24b;
}

.btn_start:hover {
    background-color: #e9a24b;
    color: white;
}