body {
    width: 90%;
    margin: 0 auto;
}

.bg {
    background-color: rgb(120, 179, 239);
    position: relative;
    left: 35%;
    /*margin: 1%;*/
    /*overflow: auto;*/
    overflow: hidden;
    width: 550px;
    height: 700px;
}

.up_spike {
    position: absolute;
    float: left;
    width: fit-content;
    height: fit-content;
}

[class^='stair_']{
    position: absolute;
    float: left;
    width: fit-content;
    height: fit-content;
}


[class^='role']{
    position: absolute;
    float: left;
    width: fit-content;
    height: fit-content;
    margin: 0%;
}