body {
    width: 100%;
    margin: 0 auto;
}

.board {
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    width: 550px;
    transform: translate(-50%, 0%);
}

.bg {
    background-color: rgb(120, 179, 239);
    position: relative;
    /*margin: 1%;*/
    /*overflow: auto;*/
    overflow: hidden;
    width: 550px;
    height: 700px;
}
.hp, .sc {
    position: relative;
    float: left;
    width: 265px;
}

.up_spike {
    position: relative;
    float: left;
    width: fit-content;
    height: fit-content;
}

.top_bar {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-top: 1%;
}

[class^='stair_']{
    position: absolute;
    float: left;
    width: fit-content;
    height: fit-content;
}


[class^='role']{
    position: absolute;
    float: left;
    width: fit-content;
    height: fit-content;
    margin: 0%;
}